body {
  background: linear-gradient(rgb(35, 35, 82), rgb(36, 104, 78), black);
}

h1 {
  text-shadow: 1px 3px 14px rgb(333, 23, 213), 0 0 6em rgb(33, 26, 16),
    0 0 0.2em rgb(230, 13, 85);
  text-align: center;
  border-radius: 33px;
  background: linear-gradient(blue, 70%, rgb(25, 970, 41));
}

h2 {
  text-align: center;
  float: left;
  background: linear-gradient(rgb(145, 251, 255), 60%, rgb(9, 66, 66));
  border-radius: 20px;
}

#phr {
  text-shadow: 4px 2px 3px rgb(76, 124, 214), 0 0 1em rgb(251, 255, 40),
    0 0 0.2em rgb(183, 0, 255);
  text-decoration: underline overline 3px #b2f573;
  text-align: center;
  border-radius: 380px;
  border-collapse: collapse;
  background: linear-gradient(
    0.25turn,
    rgb(40, 40, 117),
    rgb(69, 241, 175),
    rgb(87, 3, 104)
  );
}

button {
  font: italic small-caps bold 46px cursive;
  text-shadow: 1px 1px 1px rgb(63, 23, 23), 0 0 1em rgb(218, 175, 215),
    0 0 0.2em rgb(9, 9, 102);
  margin: initial;
  font-size: 22px;
  border: ridge rgb(240, 255, 107);
  background: radial-gradient(rgb(0, 14), rgb(63, 114));
  border-radius: 27%;
  padding: 0.85%;
  color: rgb(24, 0, 0);
}

#comp {
  position: center;
  animation: duration 7.25s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: infinite;
  left: 50%;
}

teanimate-transform {
  position: center;
  width: 50%;

  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.5, 0.95, 1.5, 0.95);
  left: 50%;
}

#certef {
  position: static;
  text-align: center;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(-1.5, -0.95, -1.5, -0.95);
  animation-duration: 7s;
  animation-name: bom;
}
#contac {
  position: static;
  text-align: center;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(-1.5, -0.95, -1.5, -0.95);
  animation-duration: 6.75s;
  animation-name: move;
}

@keyframes move {
  45% {
    margin-left: 70%;
  }
  to {
    left: 80%;
  }
}
@keyframes bom {
  45% {
    margin-left: 70%;
  }
  to {
    left: 80%;
  }
}

#imgprofil {
  border: ridge 14px;
  float: right;
  width: 20%;
  border-radius: 50%;
  animation: wobble 7s ease-in-out infinite;
  transform-origin: center right;
  transform-style: preserve-3d;
}

@keyframes wobble {
  60%,
  20% {
    transform: rotate3d(60, 4, 9, 380deg);
  }
}
